body {
	background: linear-gradient(
		to right,
		pink 0%,
		pink 50%,
		paleturquoise 50%,
		paleturquoise 100%);
	padding-left: 100px;
	padding-right: 100px;
}

.marquee {
	background: yellow;
	opacity: 70%;
	height: 24px;
	width: 100%;
	left: 0;
	position: fixed;
	display: flex;
	justify-content: center;
}

.marquee__text {
	word-spacing: 15px;
	color: rgb(5, 5, 131);
	position: fixed;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	white-space: nowrap;
	animation: marquee 10s linear infinite;
}

@keyframes marquee {
	0% {
		left: 100%;
		transform: translate(0%, 0%);
	}

	100% {
		left: 0%;
		transform: translate(-101%, 0%);
	}
}

h1 {
	color: blue;
	font-size: 40px;
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.container {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding-bottom: 100px;

}

.image {
	width: 350px;
	height: 200px;
	padding: 10px;
	margin: 10px;
	transition: transform 800ms ease-in-out;
	/* animation-name: spin;
	animation-duration: 5000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; */
}


/* @keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
} */

.image:hover {
	transform: rotate(360deg);
}

/* @media (max-width: 960px) {
	body {
		padding-left: 20px;
		padding-right: 20px;
	}
} */