h1 {
	width: 80%;
	display: flex;
	justify-content: center;

}

.container {
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;

}

.image {
	width: 350px;
	height: 200px;
}
